[Interface]
Address = {{ address }}
PrivateKey = {{ private_key }}
ListenPort = {{ listen_port }}
# PreUp =
{{ pre_up }}
# PostUp = 
{{ post_up }}
# PreDown = 
{{ pre_down }}
# PostDown = 
{{ post_down }}
# MTU = 
{{ mtu }}
# Table = 
{{ table }}
# DNS = comma-separated list of DNS servers
{{ dns }}

# peers
